@import "normalize";
@font-face {
  font-family: "levenim";
  src: url("../fonts/levenim-mt.ttf");
}
html,
body,
:root {
  height: 100%;
  font-family: levenim;
}
@layer base {
  :root {
    //font-family: 'Source Code Pro', monospace;
    --font-default: 'Montserrat', sans-serif;
    --font-secondary: 'Source Code Pro', monospace;
    scroll-behavior: smooth;

    --color-primary: #003399;
    --color-secondary: #0066ff;
    --color-primary-light: #d6e4ed;
    
    --color-accent: #ffcc33;
    --text-color: #3a3a3a;
    --text-white: #ffffff;
    --section-bg-alt: #f8f8f8;
    --light-color: #ffffff;
  }
}

@layer base {
}

body {
  font-family: var(--font-default);
  color: var(--text-color);
  background: var(--color-primary);
}

a,
a:link,
a:active {
  color: var(--color-primary);
  text-decoration: none;
  z-index: 99;
}

a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
}

p {
  font-size: 1.1em;

  &.large-text {
    font-size: 2em;
    line-height: 1.25;
  }

  &.medium-text {
    font-size: 1.5em;
  }
}

.container {
  position: relative;
}

.subtitle {
  color: var(--color-primary-light);
  font-weight: 600;
}

.about,
.vision,
.objective {
  .subtitle {
    color: var(--color-secondary)
  }
}

.text-large {
  font-size: 2em;
}

.text-medium {
  font-size: 1.5em;
}

.hide-on-mobile {
  display: block;
}

/*--------------------------------------------------------------
# Sections 
--------------------------------------------------------------*/
section {
  padding: 7em 0;
  overflow: hidden;
  background: var(--light-color);

  &.alt {
    background: #eee;
  }
}

.section {
  padding: 60px 0;
  overflow: hidden;
  background: var(--light-color);
}

/*--------------------------------------------------------------
# Images effect
--------------------------------------------------------------*/
img:not(.no-effect) {
  transition: 0.3s;
}

img:not(.no-effect):hover {
  transform: scale(1.1);
}

.white-logo, .black-logo {
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.section-header {
  text-align: center;
  padding-bottom: 60px;
}

.section-header h2 {
  font-size: 32px;
  position: relative;
  color: var(--color-primary);
}

.section-header p {
  margin-bottom: 0;
  color: var(--color-accent);
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  nav {
    background-color: var(--color-primary);
    padding: 20px 0;
  }

  .page-header {
    padding: 120px 0 60px 0;
    min-height: 20vh;
    background: url(/images/page-header-bg.png) center bottom;
    background-size: cover;
    border-radius: 0px;
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(360deg, var(--light-color), var(--light-color));
      z-index: 0;
      opacity: 0.6;
    }

    h2 {
      color: var(--color-primary);
    }

    p {
      color: var(--text-color);
    }
  }

  nav {
    ol {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 16px;
      color: var(--text-color);

      a {
        color: var(--text-white);
        transition: 0.3s;
  
        &:hover {
          text-decoration: underline;
        }
      }

      li + li {
        padding-left: 10px;

        &::before {
          display: inline-block;
          padding-right: 10px;
          color: var(--color-secondary);
          content: '/';
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.topbar {
  background: #00796b;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: var(--text-white);
  padding: 0;

  .contact-info i {
    font-style: normal;
    color: var(--text-white);
    line-height: 0;

      a, 
      i span {
        padding-left: 5px;
        color: var(--text-white);
      }
  }
}

.topbar {
  .contact-info i a {
    line-height: 0;
    transition: 0.3s;

    &:hover {
      color: var(--text-white);
      text-decoration: underline;
    }
  }

  .social-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;

    &:hover {
      color: var(--text-white);
    }
  }
}

.header-top {
  background: var(--color-secondary);
  padding: 10px 0;
  font-family: var(--font-secondary);
  width: 100%;

  .dropdown {
    z-index: 99999
  }

  p {
    margin-bottom: 0;
    color: var(--light-color);
  }

  span:not(.flag) {
    display: inline-block;
  }

  a:not(.dropdown-item) {
    color: #333
  }
}

.logo-container {
  flex: 1;
  max-width: 340px;
}

.logo-subtitle {
  font-family: Montserrat;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  height: 160px;

  .btn {
    margin-left: 1em;
  }

  &.sticked {
    background: var(--light-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 160px;
  
    .white-logo {
      display: block
    }

    .black-logo {
      display: none
    }
  }

  &.stikcy-menu {
    background: #122826;

    .black-logo {
      display: block
    }
  
    .white-logo {
      display: none
    }

    .logo h1 {
      color: var(--color-secondary);
    }

    .navbar a:hover {
      color: var(--color-secondary);
    }
    .navbar a{
      color: var(--light-color);
    }
  
    .btn:hover {
      background: var(--color-secondary);
    }
  
    .footer-social-icon a i:hover {
      background-color: var(--color-secondary);
    }
  }

  .logo-container {
    flex: 1;
    width: 340px;
  }

  .logo {
    h1 {
      font-size: 30px;
      margin: 0;
      letter-spacing: 0.8px;
      color: var(--color-secondary);

      span {
        color: var(--color-secondary);
      }
    }

    img {
      max-height: 90px;
    }
  }
}

.sticked-header-offset {
  margin-top: 0;
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 800px) {
  .header .logo-container {
    padding-left: 2em
  }

  .header-top { 
    button {
      padding-right: 2em;
    }
    p {
      padding-left: 2em;
    }
  }

  .navbar {
    margin: 1em 1em 0 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover:before,
  .navbar li:hover > a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: var(--color-secondary);
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--light-color);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 0px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover > a {
    color: var(--color-secondary);
  }

  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 800px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

@media (min-width: 800px) {
  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
  margin-top: 120px;
  font-family: var(--font-secondary);
}

.hero h3 {
  color: #fff
}

.footer-social-icon {
  padding: 10px 0 20px;
  text-align: left;
}

.footer-social-icon a i {
  background-color: var(--color-secondary);
  border-radius: 50px;
  color: var(--text-white);
  display: inline-block;
  font-size: 18px;
  height: 45px;
  line-height: 45px;
  margin: 0 7px;
  text-align: center;
  width: 45px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer-social-icon a i:hover {
  background-color: var(--color-secondary);
  color: var(--text-white);
}
.footer-social-icon.htop-menu-s {
  padding: 0;
  display: inline-block;
  margin-left: 30px;
}
.footer-social-icon.htop-menu-s a i {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  margin: 0 3px;
  width: 35px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  position: relative;
  background: url(/images/bg-hero-desktop.jpg) center center;
  background-color: var(--color-primary-light);
  background-size: cover;
  padding: 50px 0 0 0;
  height: 70vh;
  min-height: 750px;
  display: flex;
  align-items: center;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 0;
    margin-top: 0;
  }
}

.dark-bg {
  padding: 50px 30px;
  border-radius: 8px;
}
.social {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 10px;
}

.social a {
  color: var(--text-color);
  transition: 0.3s;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social a:hover {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.social i {
  font-size: 14px;
  margin: 0 2px;
  color: var(--color-secondary);
}
.mr-20 {
  margin-right: 20px !important;
}

.hero .container .dark-bg {
  width: 50%;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
  margin-top: 100px;
  color: var(--text-color);
  letter-spacing: 0.7px;
  font-weight: 600;
}
.hero span {
  color: var(--color-secondary);
}

.hero p {
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 1.25em;
}

a.btn {
  border-radius: 5px;
  font-family: var(--font-secondary);
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0.75em 1.5em;
  border: 0;
  transition: all 0.3s;
  color: var(--text-white);
  background: var(--color-secondary);
}

.btn:hover {
  background: var(--color-primary);
  color: var(--text-white) !important;
  position:relative;
  z-index:9999;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services {
  display: block;
  height: 1px; /*same height as header*/
  margin-top: 500px; /*same height as header*/
  visibility: hidden;
}

.services .title {
  color: var(--color-secondary);
}

.services p {
  color: #333;
}

/**************************************
  Contact
 **************************************/
 .contact-section {
    border-top: 10px solid var(--color-primary)
 }

.bg-success {
  background-color: var(--color-success) !important;
  font-size: 1rem;
}

/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.call-to-action {
  background: var(--color-secondary);
  padding: 100px 24px;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
  background-image: url(/images/stock-photo-ai-learning-and-business-artificial-intelligence-modern-transformation-of-ideas-and-the-adoption-2378284263.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4dcabcde;
  }

  a {
    background: #fff;
    color: #4dcabc;
  }

  h3 {
    color: var(--text-white);
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    z-index: 99;
  }

  p {
    font-size: 48px;
    color: var(--text-white);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-section {
  background: var(--color-primary);
  background-size: cover;
  padding: 0;
  border-radius: 0;
  position: relative;
  background-attachment: fixed;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 0;
    opacity: 0.9;
  }

  a.link {
    color: var(--light-color);
    font-size: 16px;
    letter-spacing: -.25px;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.copyright-text {
  margin-top: 30px;
}

.footer-content {
  position: relative;
  z-index: 2;
}
.footer-content .list {
  padding-left: 0;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;

  img {
    max-width: 200px;
  }
}

.footer-text {
  p {
    margin-bottom: 14px;
    color: var(--text-white);
    line-height: 28px;
  }

  i {
    display: inline-block;
    margin-right: 8px;
  }
}


// Social Icons
.footer-social-icon {
  span {
    color: var(--color-primary);
    display: block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }

  a {
    color: var(--text-white);
    font-size: 48px;
    margin-right: 8px;
  }

  i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 41px;
    border-radius: 50%;
  }
}


.footer-widget-heading h3 {
  color: var(--light-color);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;
}

.footer-widget ul li {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;

  a {
    color: var(--text-white);
    text-transform: capitalize;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.copyright-area {
  padding: 25px 0;
}

.copyright-text {
  p {
    margin: 0;
    font-size: 14px;
    color: var(--light-color);

    a {
      color: var(--color-primary);
    }
  }
}

.flag {
  display: inline-block;
  width: 16px;
  margin-right: 8px;
}

.mission,
.history,
.valors {
  color: var(--light-color);

  h4 {
    color: var(--text-white);
  }
}

.history,
.valors {
  .paragraph {
    margin: 3em 0 0
  }
}

.valors,
.objective {
  p {
    font-size: 1.35em;
    margin-bottom: 1.5em
  }
}

.mission {
  background-color: #26303B;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
/*   background-image: url(/images/stock-photo-businesswoman-pressing-phone-button-company-identification-icons-concept-contact-us-2203357131.jpg); // BG Changed
  background-position: center center;
  background-size: cover; */
  position: relative;

/*   &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 0;
    opacity: 0.75;
  } */

  .witr_section_title {
    position: relative;
    z-index: 99;
  }
}

.history {
  background: url(/images/slider-image.jpg) center left;
  background-size: cover;
  position: relative;
  background-attachment: fixed;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 0;
    opacity: 0.8;
  }
}

.valors {
  background: url(/images/slider-image.jpg) center left;
  background-size: cover;
  position: relative;
  background-attachment: fixed;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 0;
    opacity: 0.8;
  }

  .witr_section_title {
    position: relative;
    z-index: 99;
  }

  h3 {
    color: var(--color-primary);
    text-transform: uppercase;
  }
}

.construction {
  background-color: #ff4d15;
  color: #fff !important;
  padding: .5em;
  width: 100%;
  font-size: 18px;
}

.map-container {
  height: 500px;
}

.thumb {
  padding-left: 8px;
  position: relative;
  z-index: 1;

  &::after{
    background: var(--color-primary) none repeat scroll 0 0;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    top: -8px;
    width: 100px;
    z-index: -1;
}

  > span {
    border-radius: 5px;
  }
}

/*--------------------------------------------------------------
# Form and Validation
--------------------------------------------------------------*/

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #ccc;
}

.was-validated :invalid ~ .invalid-feedback, .was-validated :invalid ~ .invalid-tooltip, .is-invalid ~ .invalid-feedback, .is-invalid ~ .invalid-tooltip {
  display: block;
  margin-top: 0;
  // background: var(--bs-form-invalid-color);
  border-radius: 0 0 5px 5px;
  // vcolor: #fff;
  padding: 5px 0;
}

// Media Breakpoint

// X-Small
@media (max-width: 575px) {
  .hide-mobile {
    display: none
  }

  section {
    padding: 3em 0;
  }

  .topbar .contact-info i {
    a, span {
      font-size: 13px;
    }

  }

  .logo-container {
    max-width: 280px;
  }

  .header-top {
    font-size: .8rem;
  }
}

.witr_section_title {
  position: relative;
}
.witr_section_title_inner {
  position: relative;
  z-index: 1;
}

.witr_bar_inner {
  height: 5px;
  width: 90px;
  background: #4dcabc;
  margin: 0px auto;
  position: relative;
  border-radius: 30px;
}

.witr_bar_innerc::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 6px solid #4dcabc;
  border-radius: 50%;
  background: #1c1b1b;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: move_title_bg;
  animation-name: move_title_bg1;
}

.witr_bar_innerc::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 6px solid #4dcabc;
  border-radius: 50%;
  background: #1c1b1b;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: move_title_bg;
  animation-name: move_title_bg2;
}

@keyframes move_title_bg1 {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes move_title_bg2 {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}

// Medium
@media (max-width: 799px) {
  .vision, .objective {
    .thumb {
      margin-top: 2.5em
    }
  }

  .header-top span:not(.flag) {
    margin-right: 0;
  }

  .hero {
    background: url(/images/bg-hero-mobile.jpg) center top;
    min-height: 900px;
    padding: 100px 0 50px 0;

    h1 {
      font-size: 36px;
    }
  }

  img:not(.no-effect):hover {
    transform: scale(1);
  }

  p.large-text {
    font-size: 1.65em;
  }

  .about, 
  .vision,
  .objective {
    .thumb {
      order: 1;
      margin-top: 2em
    }

    .subtitle {
      margin-top: 0
    }
  }
  .header-top .dropdown {
    z-index: 10
  }

  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;

    a.btn {
      margin: 0;
      border-radius: 0;
      font-weight: 500;
      padding: 1em;
      font-size: 15px;
      background-color: #00796b;

      &:hover {
        background: var(--color-secondary);
      }
    }
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 5em 0 1em 0;
    margin: 0;
    background: var(--color-secondary);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;

    .footer-social-icon.htop-menu-s {
      display: none
    }

    li {
      border-bottom: 1px solid #02101e;
    }
  }

  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    font-size: 15px;
    color: rgb(255 255 255);
    white-space: nowrap;
    transition: 0.3s;
    background-color: var(--color-secondary);
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: var(--text-white);
    background: var(--color-secondary);
  }

  .mobile-nav-show {
    color: var(--color-secondary);
    font-size: 36px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin: 24px;
    position: relative;
    bottom: -5px;
  }

  .mobile-nav-hide {
    color: var(--text-white);
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 80%);
    z-index: 9996;
  }
}

// Large
@media (max-width: 991px) {}

// X-Large
@media (min-width: 1365px) {}


.form-watt {
  h2 {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 1em
  }

  label {
    display: inline-block;
    padding-right: 1em;
  }

  span {
    display: block;
    padding: .5em
  }

  .add {
    margin-right: 1em;
  }

  .form-elements {
    margin: .5em 0
  }

  input {
    margin: .5em;
    padding: .25em
  }
}