@import "normalize";
@font-face {
  font-family: "levenim";
  src: url("../fonts/levenim-mt.ttf");
}
html,
body,
:root {
  height: 100%;
  font-family: levenim;
}
@layer base {
  :root {
    --font-default: 'levenim', sans-serif;
    --font-secondary: 'poppins', sans-serif;
    scroll-behavior: smooth;

    --color-primary: #4dcabc;
    --color-secondary: #122826;
    --color-accent: #b8651d;
    --text-color: #3a3a3a;
    --text-white: #ffffff;
    --section-bg-alt: #f8f8f8;
    --light-color: #ffffff;
    --hero-card-bg-darker: rgba(18, 40, 38, .5);
  }
}

@layer base {
}

body {
  font-family: var(--font-default);
  color: var(--text-color);
  background: var(--color-primary);
  transition: 0.5s background ease;
}

a,
a:link,
a:active {
  color: var(--color-primary);
  text-decoration: none;
  z-index: 99;
}

a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
}

p {
  font-size: 1.1em;

  &.large-text {
    font-size: 2em;
  }

  &.medium-text {
    font-size: 1.5em;
  }
}

.subtitle {
  color: var(--color-primary);
  font-weight: 600;
}

.text-large {
  font-size: 2em;
}

.text-medium {
  font-size: 1.5em;
}

.hide-on-mobile {
  display: block;
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 10em 0;
  overflow: hidden;
}

.section {
  padding: 60px 0;
  overflow: hidden;
  background: var(--light-color);
}

.section-grey {
  padding: 90px 0;
  overflow: hidden;
  background: var(--section-bg-alt);
}

.sections-bg {
  background-color: var(--section-bg-alt);
}

.section-header {
  text-align: center;
  padding-bottom: 60px;
}

.section-header h2 {
  font-size: 32px;
  position: relative;
  color: var(--color-primary);
}

.section-header p {
  margin-bottom: 0;
  color: var(--color-accent);
}

img:not(.no-effect) {
  transition: 0.3s;
}

img:not(.no-effect):hover {
  transform: scale(1.1);
}

.fill-btn {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 50px;
  border: 0;
  transition: 0.3s;
  color: var(--text-white);
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

.fill-btn:hover {
  background: linear-gradient(
    45deg,
    var(--color-secondary),
    var(--color-primary)
  );
  color: var(--text-white);
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs .page-header {
  padding: 120px 0 60px 0;
  min-height: 20vh;
  background: url(/images/page-header-bg.png) center bottom;
  background-size: cover;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
}

.breadcrumbs .page-header:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, var(--light-color), var(--light-color));
  z-index: 0;
  opacity: 0.6;
}

.breadcrumbs .page-header h2 {
  color: var(--color-primary);
}

.breadcrumbs .page-header p {
  color: var(--text-color);
}

.breadcrumbs nav {
  background-color: var(--color-primary);
  padding: 20px 0;
}

.breadcrumbs nav ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--text-color);
}

.breadcrumbs nav ol a {
  color: var(--text-white);
  transition: 0.3s;
}

.breadcrumbs nav ol a:hover {
  text-decoration: underline;
}

.breadcrumbs nav ol li + li {
  padding-left: 10px;
}

.breadcrumbs nav ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: var(--color-secondary);
  content: '/';
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--text-white);
  line-height: 0;
}

.scroll-top:hover {
  background: rgb(16 16 16 / 80%);
  color: var(--text-white);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--color-primary);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: '';
  position: fixed;
  top: calc(48% - 3px);
  left: calc(48% - 3px);
  border: 2px solid #fff;
  border-color: var(--light-color) transparent var(--light-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1.5s linear infinite;
  animation: animate-preloader 1.5s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.topbar {
  background: #00796b;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: var(--text-white);
  padding: 0;
}

.topbar .contact-info i {
  font-style: normal;
  color: var(--text-white);
  line-height: 0;
}

.topbar .contact-info i a,
.topbar .contact-info i span {
  padding-left: 5px;
  color: var(--text-white);
}

@media (max-width: 575px) {
  .topbar .contact-info i a,
  .topbar .contact-info i span {
    font-size: 13px;
  }
}

.topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

.topbar .contact-info i a:hover {
  color: var(--text-white);
  text-decoration: underline;
}

.topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

.topbar .social-links a:hover {
  color: var(--text-white);
}

.header-top {
  background: var(--color-primary);
  padding: 10px 0;
  font-family: var(--font-secondary);
  width: 100%;

  p {
    margin-bottom: 0;
    color: var(--light-color);
  }

  span:not(.flag) {
    display: inline-block;
    margin-right: 2em
  }

  .button, a:not(.dropdown-item) {
    color: #333
  }
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 160px;

  .btn-get-started {
    margin-left: 1em;
  }
}

.header.sticked {
  background: var(--light-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 160px;

  img.black-logo {
    display: none
  }

  img.white-logo {
    display: block
  }
}

.header .logo-container {
  flex: 1;
}

.header .logo img {
  max-height: 90px;
}

.header.stikcy-menu {
  background: #122826;

  img.black-logo {
    display: block
  }

  img.white-logo {
    display: none
  }
}
.header.stikcy-menu .logo h1 {
  color: var(--color-primary);
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  letter-spacing: 0.8px;
  color: var(--color-primary);
}

.header .logo h1 span {
  color: var(--color-primary);
}

.sticked-header-offset {
  margin-top: 0;
}

section {
  background: var(--light-color);
}

.stikcy-menu {
  .navbar a:hover {
    color: var(--color-primary);
  }
  .navbar a{
    color: var(--light-color);
  }

  a.btn-get-started:hover,
  .button:hover,
  a.cta-btn:hover {
    background: var(--color-secondary);
  }

  .footer-social-icon a i:hover {
    background-color: var(--color-secondary);
  }
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 800px) {
  .header .logo-container {
    padding-left: 2em
  }

  .header-top { 
    button {
      padding-right: 2em;
    }
    p {
      padding-left: 2em;
    }
  }

  .navbar {
    margin: 1em 1em 0 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover:before,
  .navbar li:hover > a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: var(--color-primary);
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--light-color);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 0px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover > a {
    color: var(--color-primary);
  }

  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 800px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

@media (min-width: 800px) {
  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 799px) {
  section {
    padding: 7em 0;
  }

  img:not(.no-effect):hover {
    transform: scale(1);
  }

  p.large-text {
    font-size: 1.5em;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;

    a.btn-get-started {
      margin: 0;
      border-radius: 0;
      font-weight: 500;
      padding: 1em;
      font-size: 15px;
      background-color: #00796b;

      &:hover {
        background: var(--color-secondary);
      }
    }
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 5em 0 1em 0;
    margin: 0;
    background: var(--color-secondary);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;

    .footer-social-icon.htop-menu-s {
      display: none
    }

    li {
      border-bottom: 1px solid #02101e;
    }
  }

  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    font-size: 15px;
    color: rgb(255 255 255);
    white-space: nowrap;
    transition: 0.3s;
    background-color: var(--color-primary);
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: var(--text-white);
    background: var(--color-secondary);
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    background-color: var(--color-primary);
  }

  .navbar .dropdown > .dropdown-active,
  .navbar .dropdown .dropdown > .dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    color: var(--color-primary);
    font-size: 36px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin: 24px;
    position: relative;
    bottom: -5px;
  }

  .mobile-nav-hide {
    color: var(--text-white);
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 80%);
    z-index: 9996;
  }
}
ß

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
  margin-top: 120px;
}

.hero h3 {
  color: #fff
}

.footer-social-icon {
  padding: 10px 0 20px;
  text-align: left;
}

.footer-social-icon a i {
  background-color: var(--color-primary);
  border-radius: 50px;
  color: var(--text-white);
  display: inline-block;
  font-size: 18px;
  height: 45px;
  line-height: 45px;
  margin: 0 7px;
  text-align: center;
  width: 45px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer-social-icon a i:hover {
  background-color: var(--color-secondary);
  color: var(--text-white);
}
.footer-social-icon.htop-menu-s {
  padding: 0;
  display: inline-block;
  margin-left: 30px;
}
.footer-social-icon.htop-menu-s a i {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  margin: 0 3px;
  width: 35px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  position: relative;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/slider-image.jpg) center center;
  background-color: var(--color-secondary);
  background-size: cover;
  padding: 50px 0 0 0;
  height: 70vh;
  min-height: 700px;
  display: flex;
  align-items: center;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 0;
    margin-top: 0;
  }

  &#ourServicesPage {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/slider-bg.jpg) center top;
  }
}


@media (min-width: 1365px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 575px) {
  .hero {
    min-height: 800px;
    padding: 100px 0 50px 0;
  }
}

/* @media (max-width: 799px) {
  .header-top {
    display: none;
  }
  .header.sticked {
    height: 110px;
  }
} */

.dark-bg {
  padding: 50px 30px;
  border-radius: 8px;
}
.social {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 10px;
}

.social a {
  color: var(--text-color);
  transition: 0.3s;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social a:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.social i {
  font-size: 14px;
  margin: 0 2px;
  color: var(--color-primary);
}
.mr-20 {
  margin-right: 20px !important;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: 100px;
  color: var(--light-color);
  letter-spacing: 0.7px;
  font-weight: 600;
}
.hero span {
  color: var(--color-primary);
  text-shadow: 2px 2px rgba(0, 0, 0, 1);
}

.hero p {
  color: var(--text-white);
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 1.25em;
}

a.btn-get-started,
.button,
a.cta-btn {
  border-radius: 5px;
  font-size: 16px;
  font-family: var(--font-secondary);
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0.75em 1.5em;
  border: 0;
  transition: all 0.3s;
  color: var(--text-white);
  background: var(--color-primary);
}

a.btn-get-started:hover,
.button:hover,
a.cta-btn:hover {
  background: var(--color-secondary);
  color: var(--text-white) !important;
  position:relative;
  z-index:9999;
}

@media (max-width: 991px) {

  .hero h1 {
    font-size: 2rem;
  }
  .call-to-action {
    background: var(--color-secondary);
    padding: 150px 60px;
    border-radius: 0px;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .button-contact-header {
    display: none
  }
  .text-left.caption {
    text-align: center;
  }
  .caption .justify-content-start {
    justify-content: center !important;
  }
  .caption .social {
    justify-content: center;
  }

  .icon-boxes .card-two {
    margin-top: var(--bs-gutter-y);
    margin-bottom: 0px;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
}
@media (min-width: 768px) {
  .btn-get-started{
    font-size: 14px;
  }
  .icon-boxes .card-two {
    margin-top: -20px;
    margin-bottom: -20px;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services {
  display: block;
  height: 1px; /*same height as header*/
  margin-top: 500px; /*same height as header*/
  visibility: hidden;
}

.services .title {
  color: var(--color-primary);
}

.services p {
  color: #333;
}

/**************************************
  Contact
 **************************************/
 .contact-section {
    margin-top: 100px;
 }

.bg-success {
  background-color: var(--color-success) !important;
  font-size: 1rem;
}

/*--------------------------------------------------------------
# Particles
--------------------------------------------------------------*/
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
canvas {
  z-index: 0;
  display: block;
}

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.call-to-action {
  background: var(--color-secondary);
  padding: 100px 24px;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
  background-image: url(/images/call-to-action.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4dcabcde;
  }

  a {
    background: #fff;
    color: #4dcabc;
  }

  h3 {
    color: var(--text-white);
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    z-index: 99;
  }

  p {
    font-size: 48px;
    color: var(--text-white);
  }
}

/*--------------------------------------------------------------
# Featured Section
--------------------------------------------------------------*/
.featured h4 {
  font-size: 1.5em;
}
.left {
  text-align: right;
}
.right {
  text-align: left;
}
.list-wrap {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.list-wrap p {
  color: var(--text-color);
}
.list-wrap:nth-child(3),
.list-wrap:nth-child(6) {
  margin-bottom: 0;
}

.list-wrap .description h4 {
  color: var(--text-color);
}

.icon {
  width: 150px;
  text-align: center;
  height: 100px;
  border-radius: 50%;
}
.icon svg {
  width: 100%;
}
.list-center-wrap {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 100%;
}
.center-icon {
  width: 100%;
  text-align: center;
}
.center-icon img {
  width: 100%;
  border-radius: 20px;
  opacity: 0.9;
}

/*--------------------------------------------------------------
# Success
--------------------------------------------------------------*/
.success {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0,.5);
  background-size: cover;
  padding: 60px 0 0 0;
  height: 50vh;
  min-height: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: var(--text-white);
}

.success h2 {
  font-size: 3em;
  margin-bottom: .75em
}

.success-container {
  max-width: 800px;
  margin: 0 auto
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer-section {
  background: url(/images/slider-image.jpg) center left;
  background-size: cover;
  padding: 0;
  border-radius: 0;
  position: relative;
  background-attachment: fixed;

  a.link {
    color: var(--light-color);
    font-size: 16px;
    letter-spacing: -.25px;
  }
  a.link:hover {
    color: var(--color-primary);
  }
}

.footer-section:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 0;
  opacity: 0.8;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.copyright-text {
  margin-top: 30px;
}

.single-cta i {
  color: #c00113;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #c00113;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}
.footer-content .list {
  padding-left: 0;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}
.footer-widget ul li,
.footer-widget ul li a {
  font-size: 14px;
}
.footer-text p {
  margin-bottom: 14px;
  color: var(--text-white);
  line-height: 28px;
}

.footer-text i {
  display: inline-block;
  margin-right: 8px;
}

.footer-social-icon span {
  color: var(--color-primary);
  display: block;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: var(--text-white);
  font-size: 48px;
  margin-right: 8px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 41px;
  border-radius: 50%;
}

.facebook-bg {
  background: var(--color-primary);
}

.twitter-bg {
  background: var(--color-primary);
}

.google-bg {
  background: var(--color-primary);
}

.footer-widget-heading h3 {
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;
}

.footer-widget ul li {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: var(--color-primary);
}

.footer-widget ul li a {
  color: var(--text-white);
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #e4e4e4;
  border: 1px solid #e4e4e4;
  color: #222222;
  outline: none;
}

.subscribe-form button {
  position: absolute;
  right: -3px;
  background: transparent;
  border: 0;
  top: -8px;
}

.subscribe-form button i {
  color: var(--color-primary);
  font-size: 3rem;
  transform: rotate(-6deg);
}

.copyright-area {
  padding: 25px 0;
}

.copyright-text {
  p {
    margin: 0;
    font-size: 14px;
    color: #b9b9b9;

    a {
      color: var(--color-primary);
    }

    &.avanzatec {
      color: var(--text-color);
      font-size: .8em;
      margin-top: 1em;
    }
  }
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: var(--color-primary);
}

.footer-menu li a {
  font-size: 14px;
  color: #b9b9b9;
}

.footer-menu li a:hover {
  color: #000000;
}

#tsparticles {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
canvas {
  z-index: 1;
  display: block;
}

.flag {
  display: inline-block;
  width: 16px;
  margin-right: 8px;
}

// About

.about {
  &.mission,
  &.history,
  &.valors {
    background-color: var(--color-primary);
    color: var(--light-color);

    h4 {
      color: var(--text-white);
    }
  }

  &.history, &.valors {
    background-color: var(--hero-card-bg-darker);
    .paragraph {
      margin: 3em 0 0
    }
  }

  &.objective {
    ul li {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }

  &.valors {
    p {
      font-size: 1.35em;
      margin-bottom: 1.5em
    }
  }
}

.mission {
  background: var(--color-secondary);
  border-radius: 0px;
  overflow: hidden;
  position: relative;
  background-image: url(/images/service-bg.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}

.history {
  background: var(--color-secondary);
  border-radius: 0px;
  overflow: hidden;
  position: relative;
  background-image: url(/images/history-bg.jpeg);
  background-position: center center;
  background-size: cover;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 0;
    margin-top: 0;
    background: var(--color-secondary);
  }
}

.valors {
  background: var(--color-secondary);
  border-radius: 0px;
  overflow: hidden;
  position: relative;
  background-image: url(/images/valors-bg.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;

  h3 {
    color: var(--color-primary);
    text-transform: uppercase;
  }
}

/* bar color title */
.witr_bar_main {
  margin: 10px 0;
}
.witr_bar_inner {
  height: 5px;
  width: 90px;
  background: #4dcabc;
  margin: 0px auto;
  position: relative;
  border-radius: 30px;
}
.text-left .witr_bar_inner {
  margin-left: 0px;
}
.text-right .witr_bar_inner {
  margin-right: 0px;
}

/* circale Bar css */
.witr_bar_innerc {
  position: relative;
}
.witr_bar_innerc::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 6px solid #4dcabc;
  border-radius: 50%;
  background: #1c1b1b;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: move_title_bg;
  animation-name: move_title_bg1;
}
.witr_bar_innerc::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 6px solid #4dcabc;
  border-radius: 50%;
  background: #1c1b1b;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: move_title_bg;
  animation-name: move_title_bg2;
}
@keyframes move_title_bg1 {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes move_title_bg2 {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}

.construction {
  background-color: #ff4d15;
  color: #fff !important;
  padding: .5em;
  width: 100%;
  font-size: 18px;
}

.map-container {
  height: 500px;
}

.thumb {
  padding-left: 8px;
  position: relative;
  z-index: 1;

  > span {
    border-radius: 5px;
  }
}

.thumb::after{
    background: var(--color-primary) none repeat scroll 0 0;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    top: -8px;
    width: 100px;
    z-index: -1;
}

/*--------------------------------------------------------------
# Form and Validation
--------------------------------------------------------------*/

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #ccc;
}

.was-validated :invalid ~ .invalid-feedback, .was-validated :invalid ~ .invalid-tooltip, .is-invalid ~ .invalid-feedback, .is-invalid ~ .invalid-tooltip {
  display: block;
  margin-top: 0;
  // background: var(--bs-form-invalid-color);
  border-radius: 0 0 5px 5px;
  // vcolor: #fff;
  padding: 5px 0;
}